*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
project/boot/
project/plugins/project/
.bsp/*


# Intellij specific
.idea

# VS Code + Metals specific
.vscode
.metals

**/.bloop
.metals/
metals.sbt
.scalafmt.conf

